<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>英雄联盟LOL_LOL官网_LOL活动_LOL资料_3DM英雄联盟专区_3DM网游</title>
    <meta name="Keywords" content="LOL攻略,LOL新闻,视频,激活码,礼包,lol英雄联盟专区" />
    <meta name="Description" content="《英雄联盟》专区为玩家提供最新最全的游戏新闻,游戏攻略，S9赛季最新的符文天赋加点，第一时间为大家整理LOL最新游戏活动，提供LOL周免英雄介绍，最新皮肤上线和皮肤抽奖打折消息，玩家在游戏过程中遇到的疑难困惑都可以在本专区找到最佳的解答。" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="mobile-agent" content="format=html5;url=https://m.3dmgame.com/ol/lol/gl/" />
    <meta name="mobile-agent" content="format=xhtml;url=https://m.3dmgame.com/ol/lol/gl/" />
    <link rel="canonical" href="https://ol.3dmgame.com/lol/gl/" />
    <link rel="alternate" media="only screen and (max-width: 750px)" href="https://m.3dmgame.com/ol/lol/gl/" />
    <link rel="stylesheet" type="text/css" href="css/wy-base.css" />
    <link rel="stylesheet" type="text/css" href="css/wy-common.css" />
    <link rel="stylesheet" href="css/wy_area_jian_news.css" />
    <script type="text/javascript" src="js/jq1.9.js"></script>
<script src="js/ds.js"></script></head>
<body>
<div class="header_warp">
    <div class="header_top">
        <div class="center">
            <div class="ul_link">
                <a href="https://www.3dmgame.com" target="_blank"><i class="ico1"></i>主站</a>
                <a href="https://shop.3dmgame.com" target="_blank"><i class="ico2"></i>商城</a>
                <a href="https://bbs.3dmgame.com" target="_blank"><i class="ico3"></i>论坛</a>
                <a href="https://www.3dmgame.com/app.html" target="_blank"><i class="ico4"></i>手机APP</a>
            </div>
            <div class="head_top_rt" id="my_user_top">
                <img src="picture/ioc-ren.png">
                <a href="javascript:void(0);" class="login" onclick="openlogin()">登录</a>
                <a href="javascript:void(0);" class="enroll" onclick="openregister()">注册</a>
            </div>
        </div>
    </div>
    <div class="banner">
        <img src="picture/1562927126_923697.jpg">
        <div class="baidu_img_Grasp"><img src="picture/1513565838_688301.jpg"></div>
        <div class="top">
            <div class="nava">
                <ul>
                    <li class="{shoupage}"><a href="https://ol.3dmgame.com/lol/">首页</a></li>
                    <li class="{shounews}"><a href="https://ol.3dmgame.com/lol/news/">新闻</a></li>
                    <li class="shou"><a href="https://ol.3dmgame.com/lol/gl/">攻略</a></li>
                    <li class="{shouvideo}"><a href="https://ol.3dmgame.com/lol/v_all_1/">视频</a></li>
                                        <li class="{shouzone}"><a href="https://ol.3dmgame.com/lol/zone/">资料库</a></li>
                                        <li><a href="https://bbs.3dmgame.com/" target="_blank">论坛</a></li>
                                        <li><a href="https://ol.3dmgame.com/lol/zizouqi/" target="_blank">模拟器</a></li>
                                    </ul>
                <div class="search">
                    <form action="https://so.3dmgame.com/" method="get" target="_blank" autocomplete="off" id="bdcs">
                        <input type="text" onblur="if (this.value=='') this.value='我的世界'" value="我的世界" this.style.color="#000000" onfocus="if (this.value!='') this.value=''" name="keyword" />
                        <input type="hidden" name="subsearch" value="1" />
                        <input type="hidden" name="type" value="3" />
                        <button><i></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="main_index main">
                <div class="diva">
                        <div class="a-topin">
            <div class="al">英雄玩法</div>
            <ul>
                                <li><a href="https://ol.3dmgame.com/gl/50094.html" target="_blank">奇亚娜玩法</a></li>
                                <li><a href="https://ol.3dmgame.com/gl/46674.html" target="_blank">魔法猫咪</a></li>
                                <li><a href="https://ol.3dmgame.com/gl/28610.html" target="_blank">新版铁男攻略</a></li>
                                <li><a href="https://ol.3dmgame.com/gl/49890.html" target="_blank">中单青钢影</a></li>
                                <li><a href="https://ol.3dmgame.com/gl/51216.html" target="_blank">征服者剑魔</a></li>
                                <li><a href="https://ol.3dmgame.com/gl/50422.html" target="_blank">塞拉斯玩法</a></li>
                                <li><a href="https://ol.3dmgame.com/gl/38830.html" target="_blank">上单妮蔻</a></li>
                                <li><a href="https://ol.3dmgame.com/gl/41903.html" target="_blank">纯输出流泰坦</a></li>
                                <li><a href="https://ol.3dmgame.com/gl/49361.html" target="_blank">元素女皇打野</a></li>
                            </ul>
            </div>
                        <div class="a-topin">
            <div class="al">周免英雄</div>
            <ul>
                                <li><a href="https://ol.3dmgame.com/gl/40294.html" target="_blank">阿狸</a></li>
                                <li><a href="https://ol.3dmgame.com/gl/50165.html" target="_blank">莫甘娜</a></li>
                                <li><a href="https://ol.3dmgame.com/gl/29711.html" target="_blank">佐伊</a></li>
                                <li><a href="https://ol.3dmgame.com/gl/40526.html" target="_blank">大眼</a></li>
                                <li><a href="https://ol.3dmgame.com/gl/46903.html" target="_blank">潘森</a></li>
                                <li><a href="https://ol.3dmgame.com/gl/38765.html" target="_blank">猴子</a></li>
                                <li><a href="https://ol.3dmgame.com/gl/39020.html" target="_blank">蛮王</a></li>
                                <li><a href="https://ol.3dmgame.com/gl/43962.html" target="_blank">大嘴</a></li>
                                <li><a href="https://ol.3dmgame.com/gl/24217.html" target="_blank">赏金</a></li>
                                <li><a href="https://ol.3dmgame.com/gl/50455.html" target="_blank">大树</a></li>
                                <li><a href="https://ol.3dmgame.com/gl/43952.html" target="_blank">龙龟</a></li>
                                <li><a href="https://ol.3dmgame.com/gl/32747.html" target="_blank">剑圣</a></li>
                                <li><a href="https://ol.3dmgame.com/gl/52242.html" target="_blank">奎因</a></li>
                                <li><a href="https://ol.3dmgame.com/gl/45193.html" target="_blank">娜美</a></li>
                            </ul>
            </div>
                    </div>
                        <div class="divb">
                        <a href="https://dl.3dmgame.com/pc/78205.html" target="_blank" class="a1">游戏下载</a>
                        <a href="https://ol.3dmgame.com/lol/" target="_blank" class="a2">游戏官网</a>
                        <a href="https://ol.3dmgame.com/lol/zizouqi/" target="_blank" class="a3">阵容模拟器</a>
                        <a href="https://ol.3dmgame.com/activity/lol/" target="_blank" class="a4">活动大全</a>
                    </div>
            </div>
</div>
<script>
$(".header_warp .banner .top .nava .search").css({"width":1200-$(".header_warp .banner .top .nava ul").width()+"px"})
</script><div class="content">
    <div class="title">
        <div class="home"></div>
        <span>您的位置：<a href="https://ol.3dmgame.com" target="_blank">网游</a> > <i><a href="https://ol.3dmgame.com/lol/" target="_blank">英雄联盟</a></i> > 攻略 </span>
    </div>
    <div class="cent">
        <div class="centleft">
            <ol>
                                <li>
                    <a href="https://ol.3dmgame.com/lol/gl/" class="bj">最新攻略</a>
                </li>
                                                                <li>
                    <a href="https://ol.3dmgame.com/lol/gl_1_1/">图文攻略</a>
                </li>
                                                <li>
                    <a href="https://ol.3dmgame.com/lol/gl_2_1/">综合攻略</a>
                </li>
                                                <li>
                    <a href="https://ol.3dmgame.com/lol/gl_3_1/">游戏图鉴</a>
                </li>
                                                <li>
                    <a href="https://ol.3dmgame.com/lol/gl_4_1/">常见问题</a>
                </li>
                                                <li>
                    <a href="https://ol.3dmgame.com/lol/gl_5_1/">游戏问答</a>
                </li>
                            </ol>
                        <ul class="list ">
                            <li th:each="Psp:${pspList}">
                                <a th:href="@{'/moban?pid='+${Psp.psp_id}}" target="_blank">
                                    <div class="imgst">
                                        <img th:src="@{'picture/'+${Psp.psp_image}}">
                                    </div>
                                    <div class="h3"th:text="${Psp.psp_title }"></div>
                                    <p th:text="${Psp.psp_content}"></p>
                                    <div class="item">
                                        <span class="time"><i></i><span th:text="${Psp.psp_date}"></span></span>
                                        <span class="it"><i class="eye"></i><span th:text="${Psp.psp_pv }"></span></span>
                                    </div>
                                </a>
                            </li>
                                <li>
                    <a href="https://ol.3dmgame.com/gl/61943.html" target="_blank">
                        <div class="imgst">
                            <img src="picture/1567994206536.png">
                        </div>
                        <div class="h3">《LOL》2019全球总决赛赛程时间一览</div>
                        <p>LOL英雄联盟随着IG成功拿到世界赛门票，各个赛区都已经圆满收官，而S9全球总决赛也即将带来，很多玩家都想知道S9总决赛的赛程时间?下面，我就给大家带来详细介绍，一起来看看吧!2019全球总决赛赛程公布： 入围赛 10月2-5日，7-8日小组赛 10月12-1</p>
                        <div class="item">
                            <span class="time"><i></i>2019-09-09 09:58:54</span>
                            <span class="it"><i class="eye"></i>99</span>
                        </div>
                    </a>
                </li>
                                <li>
                    <a href="https://ol.3dmgame.com/gl/61941.html" target="_blank">
                        <div class="imgst">
                            <img src="picture/1567992626211.jpg">
                        </div>
                        <div class="h3">《LOL》云顶之弈9.16版本末剑士玩法</div>
                        <p>在云顶之弈9.16版本，很强势的恶魔羁绊对剑士的影响不是特别大，海克斯科技羁绊对于装备的禁用，导致了很大程度上对站位的考验；再就是换型师的存在，可以说只要大哥们（德莱文金克丝）没被切死就很OK。下面一起跟小编看下剑士阵容搭配吧。这里是刚刚混上铂金没多久的新人小</p>
                        <div class="item">
                            <span class="time"><i></i>2019-09-09 09:39:44</span>
                            <span class="it"><i class="eye"></i>83</span>
                        </div>
                    </a>
                </li>
                                <li>
                    <a href="https://ol.3dmgame.com/gl/61863.html" target="_blank">
                        <div class="imgst">
                            <img src="picture/1567764654896.jpg">
                        </div>
                        <div class="h3">《LOL》9.17版本禁用率前五英雄推荐</div>
                        <p>LOL英雄联盟9.17版本在外服上线已经有一段时间，新版本中各路英雄的排名也发生了不小改变。本次，我就给大家带来LOL9.17版本禁用率前五英雄推荐，一起来看看吧!血港鬼影 派克   派克自从再次更改后仍然受到了大部分玩家们的青睐，操作比较容易而且也能打出来爆</p>
                        <div class="item">
                            <span class="time"><i></i>2019-09-06 18:14:05</span>
                            <span class="it"><i class="eye"></i>1174</span>
                        </div>
                    </a>
                </li>
                                <li>
                    <a href="https://ol.3dmgame.com/gl/61853.html" target="_blank">
                        <div class="imgst">
                            <img src="picture/1567763676926.jpg">
                        </div>
                        <div class="h3">《LOL》云顶之弈9.17版本虚空刺客卡萨丁阵容攻略</div>
                        <p>LOL英雄联盟云顶之弈9.17版本和9.18版本将会在9月12号合并更新，目前在国服也衍生出许多奇奇怪怪但强力的玩法，很多玩家都想知道9.17版本虚空刺客卡萨丁阵容怎么玩?下面，我给大家带来详细介绍，一起来看看吧!虚空刺客卡萨丁   核心羁绊 羁绊：虚空(3)</p>
                        <div class="item">
                            <span class="time"><i></i>2019-09-06 17:56:13</span>
                            <span class="it"><i class="eye"></i>3227</span>
                        </div>
                    </a>
                </li>
                                <li>
                    <a href="https://ol.3dmgame.com/gl/61851.html" target="_blank">
                        <div class="imgst">
                            <img src="picture/1567763023974.jpg">
                        </div>
                        <div class="h3">《LOL》云顶之弈9.17版本贵族法师船长阵容攻略</div>
                        <p>LOL英雄联盟云顶之弈9.17版本和9.18版本将会在9月12号合并更新，目前在国服也衍生出许多奇奇怪怪但强力的玩法，很多玩家都想知道9.17版本贵族法师船长阵容怎么玩?下面，我给大家带来详细介绍，一起来看看吧!贵族法师船长   核心羁绊 羁绊：贵族(6)部署</p>
                        <div class="item">
                            <span class="time"><i></i>2019-09-06 17:50:46</span>
                            <span class="it"><i class="eye"></i>1460</span>
                        </div>
                    </a>
                </li>
                                <li>
                    <a href="https://ol.3dmgame.com/gl/61845.html" target="_blank">
                        <div class="imgst">
                            <img src="picture/1567762883222.jpg">
                        </div>
                        <div class="h3">《LOL》云顶之弈9.17版本六换型龙女阵容攻略</div>
                        <p>LOL英雄联盟云顶之弈9.17版本和9.18版本将会在9月12号合并更新，目前在国服也衍生出许多奇奇怪怪但强力的玩法，很多玩家都想知道9.17版本六换型龙女阵容怎么玩?下面，我给大家带来详细介绍，一起来看看吧!六换型龙女阵容   核心羁绊 羁绊：换形师(6)部</p>
                        <div class="item">
                            <span class="time"><i></i>2019-09-06 17:41:26</span>
                            <span class="it"><i class="eye"></i>1615</span>
                        </div>
                    </a>
                </li>
                                <li>
                    <a href="https://ol.3dmgame.com/gl/61843.html" target="_blank">
                        <div class="imgst">
                            <img src="picture/1567761366897.jpg">
                        </div>
                        <div class="h3">《LOL》云顶之弈9.17版本强势T1黑科技套路阵容汇总</div>
                        <p>LOL英雄联盟云顶之弈9.17版本和9.18版本将会在9月12号合并更新，目前在国服也衍生出许多奇奇怪怪但强力的玩法，很多玩家都想知道9.17版本强势T1黑科技套路阵容有哪些?下面，我给大家带来详细介绍，一起来看看吧!套路一：不死换形师龙女   核心羁绊 羁绊</p>
                        <div class="item">
                            <span class="time"><i></i>2019-09-06 17:32:37</span>
                            <span class="it"><i class="eye"></i>2318</span>
                        </div>
                    </a>
                </li>
                                <li>
                    <a href="https://ol.3dmgame.com/gl/61821.html" target="_blank">
                        <div class="imgst">
                            <img src="picture/1567760454823.jpg">
                        </div>
                        <div class="h3">《LOL》9.16末期峡谷之巅冲分英雄推荐</div>
                        <p>LOL英雄联盟即将更新9.18版本，在版本末期国服峡谷之巅玩家也开始疯狂冲分。本次，我就给大家带来LOL9.16末期峡谷之巅冲分英雄推荐，一起来看看吧!峡谷之巅第一 ：赏金猎人  技能加点： 主Q副W一级学习Q技能 出装：  核心装备选择吸蓝刀+无尽之刃+火炮</p>
                        <div class="item">
                            <span class="time"><i></i>2019-09-06 17:02:12</span>
                            <span class="it"><i class="eye"></i>151</span>
                        </div>
                    </a>
                </li>
                                <li>
                    <a href="https://ol.3dmgame.com/gl/61816.html" target="_blank">
                        <div class="imgst">
                            <img src="picture/1567759954383.jpg">
                        </div>
                        <div class="h3">《LOL》9.17版本T1级别上路推荐</div>
                        <p>LOL英雄联盟9.17版本在外服上线已经有一段时间，新版本中坦克英雄表现十分强势，上路也变得举足轻重。本次，我就给大家带来LOL9.17版本T1级别上路推荐，一起来看看吧!不屈之枪：潘森   技能升级顺序推荐：  主Q副E，有R点R。符文推荐：  主系推荐选择</p>
                        <div class="item">
                            <span class="time"><i></i>2019-09-06 16:52:41</span>
                            <span class="it"><i class="eye"></i>166</span>
                        </div>
                    </a>
                </li>
                                <li>
                    <a href="https://ol.3dmgame.com/gl/61795.html" target="_blank">
                        <div class="imgst">
                            <img src="picture/1567757198955.jpg">
                        </div>
                        <div class="h3">《炉石传说》奥丹姆奇兵ig战队冰法卡组推荐</div>
                        <p>炉石传说奥丹姆奇兵已经上线有一段时间了，很多玩家都想知道奥丹姆奇兵有什么版本强势卡组?本次，我就给大家带来炉石传说奥丹姆奇兵ig战队冰法卡组推荐，感兴趣的玩家，一起来看看吧! 卡组代码：         点击复制点评： 黄金战队联赛ig战队的一套冰法。卡组思路</p>
                        <div class="item">
                            <span class="time"><i></i>2019-09-06 16:07:04</span>
                            <span class="it"><i class="eye"></i>84</span>
                        </div>
                    </a>
                </li>
                                <li>
                    <a href="https://ol.3dmgame.com/gl/61761.html" target="_blank">
                        <div class="imgst">
                            <img src="picture/1567752935190.png">
                        </div>
                        <div class="h3">《LOL》云顶之弈9.18最后的轻语适合阵容推荐</div>
                        <p>LOL英雄联盟云顶之弈9.17版本和9.18版本将会在9月12号合并更新，新装备也即将登陆国服，很多玩家都想知道9.18版本正义之拳适合哪些阵容?下面，我给大家带来详细介绍，一起来看看吧! 装备解析：首先是正义之拳，正义之拳的两个效果都有不错的收益，第一种可以</p>
                        <div class="item">
                            <span class="time"><i></i>2019-09-06 14:56:22</span>
                            <span class="it"><i class="eye"></i>555</span>
                        </div>
                    </a>
                </li>
                                <li>
                    <a href="https://ol.3dmgame.com/gl/61760.html" target="_blank">
                        <div class="imgst">
                            <img src="picture/1567752897794.png">
                        </div>
                        <div class="h3">《LOL》云顶之弈9.18正义之拳适合阵容推荐</div>
                        <p>LOL英雄联盟云顶之弈9.17版本和9.18版本将会在9月12号合并更新，新装备也即将登陆国服，很多玩家都想知道9.18版本正义之拳适合哪些阵容?下面，我给大家带来详细介绍，一起来看看吧! 装备解析：首先是正义之拳，正义之拳的两个效果都有不错的收益，第一种可以</p>
                        <div class="item">
                            <span class="time"><i></i>2019-09-06 14:54:59</span>
                            <span class="it"><i class="eye"></i>262</span>
                        </div>
                    </a>
                </li>
                                <li>
                    <a href="https://ol.3dmgame.com/gl/61758.html" target="_blank">
                        <div class="imgst">
                            <img src="picture/1567752670166.png">
                        </div>
                        <div class="h3">《LOL》云顶之弈9.18快速闪避适合阵容推荐</div>
                        <p>LOL英雄联盟云顶之弈9.17版本和9.18版本将会在9月12号合并更新，新装备也即将登陆国服，很多玩家都想知道9.18版本快速闪避适合哪些阵容?下面，我给大家带来详细介绍，一起来看看吧!  装备解析：领主之剑的作用就是能够快速的提升刺客英雄的战斗力，在我们没</p>
                        <div class="item">
                            <span class="time"><i></i>2019-09-06 14:52:12</span>
                            <span class="it"><i class="eye"></i>247</span>
                        </div>
                    </a>
                </li>
                                <li>
                    <a href="https://ol.3dmgame.com/gl/61757.html" target="_blank">
                        <div class="imgst">
                            <img src="picture/1567752620415.png">
                        </div>
                        <div class="h3">《LOL》云顶之弈9.18领主之剑适合阵容推荐</div>
                        <p>LOL英雄联盟云顶之弈9.17版本和9.18版本将会在9月12号合并更新，新装备也即将登陆国服，很多玩家都想知道9.18版本领主之剑适合哪些阵容?下面，我给大家带来详细介绍，一起来看看吧!  装备解析：领主之剑的作用就是能够快速的提升刺客英雄的战斗力，在我们没</p>
                        <div class="item">
                            <span class="time"><i></i>2019-09-06 14:52:39</span>
                            <span class="it"><i class="eye"></i>164</span>
                        </div>
                    </a>
                </li>
                            </ul>
            <div class="fenye"><ul class="pagination"><li class="first disabled"><span>首页</span></li>
<li class="prev disabled"><span>&laquo;</span></li>
<li class="active"><a href="https://ol.3dmgame.com/lol/gl/" data-page="0">1</a></li>
<li><a href="https://ol.3dmgame.com/lol/gl_all_2/" data-page="1">2</a></li>
<li><a href="https://ol.3dmgame.com/lol/gl_all_3/" data-page="2">3</a></li>
<li><a href="https://ol.3dmgame.com/lol/gl_all_4/" data-page="3">4</a></li>
<li><a href="https://ol.3dmgame.com/lol/gl_all_5/" data-page="4">5</a></li>
<li><a href="https://ol.3dmgame.com/lol/gl_all_6/" data-page="5">6</a></li>
<li><a href="https://ol.3dmgame.com/lol/gl_all_7/" data-page="6">7</a></li>
<li><a href="https://ol.3dmgame.com/lol/gl_all_8/" data-page="7">8</a></li>
<li class="next"><a href="https://ol.3dmgame.com/lol/gl_all_2/" data-page="1">&raquo;</a></li>
<li class="last"><a href="https://ol.3dmgame.com/lol/gl_all_571/" data-page="570">末页</a></li></ul></div>
                    </div>
        <div class="centright">
            <div class="item6 mb30">
    <div class="tist">
        <div class="imglist"><i class="item2_i"></i><span>推荐内容</span></div>
    </div>
    <div class="list_a">
                <a href="https://ol.3dmgame.com/gl/29047.html" target="_blank">上分英雄推荐</a>
                <a href="https://ol.3dmgame.com/gl/29051.html" target="_blank">下路法师英雄</a>
                <a href="https://ol.3dmgame.com/gl/29110.html" target="_blank">S9排位规则</a>
                <a href="https://ol.3dmgame.com/gl/29306.html" target="_blank">偷钱流玩法</a>
                <a href="https://ol.3dmgame.com/gl/28620.html" target="_blank">打野剑圣</a>
                <a href="https://ol.3dmgame.com/gl/26087.html" target="_blank">S9符文介绍</a>
                <a href="https://ol.3dmgame.com/gl/28642.html" target="_blank">ADC女枪</a>
                <a href="https://ol.3dmgame.com/gl/29061.html" target="_blank">S9火男</a>
                <a href="https://ol.3dmgame.com/gl/28559.html" target="_blank">S9瑞文</a>
                <a href="https://ol.3dmgame.com/gl/28622.html" target="_blank">S9打野英雄</a>
                <a href="https://ol.3dmgame.com/gl/28964.html" target="_blank">偷钱流青钢影</a>
                <a href="https://ol.3dmgame.com/gl/28365.html" target="_blank">S9强势辅助</a>
                <a href="https://ol.3dmgame.com/gl/28374.html" target="_blank">S9强势打野</a>
                <a href="https://ol.3dmgame.com/gl/28378.html" target="_blank">S9强势上单</a>
                <a href="https://ol.3dmgame.com/gl/28811.html" target="_blank">妮蔻打野</a>
                <a href="https://ol.3dmgame.com/gl/28806.html" target="_blank">S9最强中单</a>
                <div class="clear"></div>
    </div>
</div>
            <div class="warp_a mb0">
    <div class="tist">
        <div class="imglist"><i class="warpa_i"></i><span>近期重点</span></div>
        <div class="rightlist"><i></i>
            <a href="https://ol.3dmgame.com/news/" target="_blank">更多</a>
        </div>
    </div>
    <ul>
                <li>
            <a href="https://ol.3dmgame.com/news/201909/22284.html" target="_blank"><i></i>《英雄联盟》8周年盛典落幕 全球总决赛LPL代表队出炉</a>
        </li>
                <li>
            <a href="https://ol.3dmgame.com/news/201909/22274.html" target="_blank"><i></i>虎牙独播LCK：功亏一篑 生死战崩盘KZ憾负DWG错失世界赛</a>
        </li>
                <li>
            <a href="https://ol.3dmgame.com/news/201909/22267.html" target="_blank"><i></i>《英雄联盟》将办LPL全明星周末！首届赛事落户海南</a>
        </li>
                <li>
            <a href="https://ol.3dmgame.com/news/201909/22263.html" target="_blank"><i></i>《英雄联盟》“星之守护者”宣传片 泽野弘之配乐燃爆</a>
        </li>
                <li>
            <a href="https://ol.3dmgame.com/news/201909/22261.html" target="_blank"><i></i>LPL夏季赛决赛：FPX3:1击败RNG 夺得LPL冠军！</a>
        </li>
            </ul>
</div>
            <div class="item5 mb30">
    <div class="tist">
        <div class="imglist"><i class="item5_i"></i><span>游戏视频</span></div>
        <div class="rightlist"><i></i>
            <a href="https://ol.3dmgame.com/lol/v_all_1/" target="_blank">更多</a>
        </div>
    </div>
    <ul>
                <li class="leftz">
            <a href="https://ol.3dmgame.com/v/2633.html" target="_blank">
                <div class="imga"><img src="picture/1567994409_191256.jpg"><i></i></div>
                <p>《LOL》八周年明星表演赛</p>
            </a>
        </li>
                <li class="leftz">
            <a href="https://ol.3dmgame.com/v/2632.html" target="_blank">
                <div class="imga"><img src="picture/1567992159_778897.jpg"><i></i></div>
                <p>LCK2019夏季赛常规赛9月7日DWG VS KZ视频回顾</p>
            </a>
        </li>
                <li class="leftz">
            <a href="https://ol.3dmgame.com/v/2631.html" target="_blank">
                <div class="imga"><img src="picture/1567561280_188693.jpg"><i></i></div>
                <p>LCK2019夏季赛常规赛9月5日SB VS KZ视频回顾</p>
            </a>
        </li>
                <li class="leftz">
            <a href="https://ol.3dmgame.com/v/2630.html" target="_blank">
                <div class="imga"><img src="picture/1567560722_590150.jpg"><i></i></div>
                <p>LPL2019夏季赛常规赛9月6日FPX VS RNG频回顾</p>
            </a>
        </li>
                <div class="clear"></div>
    </ul>
</div>
            <div class="warp_a">
    <div class="tist">
        <div class="imglist"><i class="warpv_i"></i><span>热门攻略</span></div>
        <div class="rightlist"><i></i>
            <a href="https://ol.3dmgame.com/gl/" target="_blank">更多</a>
        </div>
    </div>
    <ul>
                <li>
            <a href="https://ol.3dmgame.com/gl/23912.html" target="_blank"><i></i>《LOL》S8总决赛入围赛规则详解</a>
        </li>
                <li>
            <a href="https://ol.3dmgame.com/gl/53837.html" target="_blank"><i></i>《LOL》云顶之弈六极地四斗士攻略</a>
        </li>
                <li>
            <a href="https://ol.3dmgame.com/gl/53669.html" target="_blank"><i></i>《LOL》云顶之弈劫装备选择</a>
        </li>
                <li>
            <a href="https://ol.3dmgame.com/gl/54240.html" target="_blank"><i></i>英雄联盟云顶之弈怎么升级英雄</a>
        </li>
                <li>
            <a href="https://ol.3dmgame.com/gl/10005.html" target="_blank"><i></i>LOLS8新版本符文天赋加点一览</a>
        </li>
                <li>
            <a href="https://ol.3dmgame.com/gl/10006.html" target="_blank"><i></i>《LOL》S8电刑劫秒人符文天赋加点推荐</a>
        </li>
                <li>
            <a href="https://ol.3dmgame.com/gl/10009.html" target="_blank"><i></i>《LOL》S8赛季英雄洛最新玩法一览</a>
        </li>
                <li>
            <a href="https://ol.3dmgame.com/gl/10010.html" target="_blank"><i></i>《LOL》S8赛季最强英雄虚空先知玩法解析</a>
        </li>
                <li>
            <a href="https://ol.3dmgame.com/gl/10011.html" target="_blank"><i></i>《英雄联盟》S8赛季ADC最新玩法详解</a>
        </li>
                <li>
            <a href="https://ol.3dmgame.com/gl/10012.html" target="_blank"><i></i>《英雄联盟》S8赛季瑞文新玩法一览</a>
        </li>
            </ul>
</div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<script type="text/javascript" src="js/conmmon.js"></script>
<div class="fotter">
	<div class="fotter-top">
		<div class="center">
            <div class="wrap">
                <p>综合内容</p>
                <ul>
                    <li><a href="http://3c.3dmgame.com/" target="_blank">硬件设备</a></li>
                    <li><a href="https://bbs.3dmgame.com/" target="_blank">游戏论坛</a></li>
                    <li><a href="https://www.3dmgame.com/bagua/" target="_blank">娱乐频道</a></li>
                    <li><a href="https://www.3dmgame.com/original.html" target="_blank">原创专栏</a></li>
                    <li><a href="https://shop.3dmgame.com" target="_blank">游戏商城</a></li>
                    <li><a href="https://www.3dmgame.com/hanhua/" target="_blank">游戏汉化</a></li>
                </ul>
            </div>
            <div class="wrap">
                <p>单机游戏</p>
                <ul>
                    <li><a href="https://dl.3dmgame.com/" target="_blank">游戏下载</a></li>
                    <li><a href="https://dl.3dmgame.com/patch/" target="_blank">补丁MOD</a></li>
                    <li><a href="https://www.3dmgame.com/gl/" target="_blank">原创攻略</a></li>
                    <li><a href="https://www.3dmgame.com/games/ns_all_1/" target="_blank">Switch</a></li>
                    <li><a href="https://www.3dmgame.com/games/ps4_all_1/" target="_blank">PS4</a></li>
                    <li><a href="https://www.3dmgame.com/release/" target="_blank">发售表</a></li>
                </ul>
            </div>
            <div class="wrap">
                <p>手机游戏</p>
                <ul>
                    <li><a href="https://shouyou.3dmgame.com/android/" target="_blank">安卓游戏</a></li>
                    <li><a href="https://shouyou.3dmgame.com/ios/" target="_blank">苹果游戏</a></li>
                    <li><a href="https://shouyou.3dmgame.com/gl/" target="_blank">手游攻略</a></li>
                    <li><a href="https://shouyou.3dmgame.com/ka/" target="_blank">手游礼包</a></li>
                    <li><a href="https://shouyou.3dmgame.com/zt/" target="_blank">专题合集</a></li>
                    <li><a href="https://shouyou.3dmgame.com/phb/" target="_blank">手游排行</a></li>
                </ul>
            </div>
            <div class="wrap">
                <p>网络游戏</p>
                <ul>
                    <li><a href="https://ol.3dmgame.com/news/" target="_blank">网游资讯</a></li>
                    <li><a href="https://ol.3dmgame.com/esports/" target="_blank">竞技赛事</a></li>
                    <li><a href="https://ol.3dmgame.com/news_5_1/" target="_blank">网游活动</a></li>
                    <li><a href="https://ol.3dmgame.com/ku/" target="_blank">网游大全</a></li>
                    <li><a href="https://ol.3dmgame.com/test/" target="_blank">新游试玩</a></li>
                    <li><a href="https://ol.3dmgame.com/hao/" target="_blank">激活码</a></li>
                </ul>
            </div>
        </div>
	</div>
	<div class="fotter-bottom">
		<div class="fotter-link">
			<a href="https://www.3dmgame.com/s/about.html" target="_blank">关于3DMGAME</a>|<a href="https://www.3dmgame.com/s/joinus.html" target="_blank">招聘信息</a>|<a href="https://www.3dmgame.com/s/sitemap.html" target="_blank">网站地图</a>|<a href="https://www.3dmgame.com/s/contact.html" target="_blank">联系我们</a>
			<p>CopyRight©2003-2018 <a href="https://www.3dmgame.com">WWW.3DMGAME.COM</a> All Right Reserved 京ICP备14006952号-1 京网文（2016）1650-207号</p>
		</div>
	</div>
</div>
<div style="display: none;">
	<script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "https://hm.baidu.com/hm.js?41e10dae8e5d7e8cc907484abce82fb9";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>
</div>
<script src="js/user.js"></script>
        <div id="my_login_form" class="login_wrap"  style="display: none;">
            <div class="form_login">
                <div class="title">会员登录</div>
                <div class="input_wrap login_username">
                    <div class="name_ico">
                        <i></i>
                    </div>
                    <input type="text" title="用户名" name="username" id="loginname" value="" maxlength="" placeholder="请输入手机号 / 论坛账号 " />
                    <p class="Tipsbox_yes Tips_name"></p>
                </div>
                <div class="input_wrap login_password">
                    <div class="password_ico">
                        <i></i>
                    </div>
                    <input type="password" title="密码" name="passwd" id="loginpassword" value="" required="required" placeholder="请输入密码">
                    <p class="Tipsbox_yes Tips_pswd"></p>
                </div>
                <div class="Tipsbox Tips-name">
                    <i></i>
                    <p>请输入手机号或论坛账号</p>
                </div>
                <div class="Tipsbox Tips-pswd">
                    <i></i>
                    <p>请输入密码</p>
                </div>
                <div class="auto_login">
                    <div class="radiobtn">
                        <input type="checkbox" id="atloginck" value="1" checked="checked" onchange="setautologin(this)" />
                        <input type="hidden" name="autologin" id="myautologin" value="1" />
                        <span class="inpbg"></span>
                    </div>
                    <label for="atloginck">自动登录</label>
                    <a href="https://my.3dmgame.com/findpasswd" class="forget_link" target="_blank">忘记密码</a>
                    <a href="javascript:void(0);" class="registered_link" onclick="openregister()">新会员注册</a>
                </div>
                <a href="javascript:void(0);" class="submit" onclick="login_submit()">登 录</a>
                <div class="other_login">
                    <p>社交账号登录</p>
                </div>
                <div class="other_login_list">
                    <div class="weibo">
                        <i onclick="sina_login()"></i>
                    </div>
                    <div class="weixin">
                        <i onclick="wechat_login()"></i>
                    </div>
                    <div class="QQ">
                        <i onclick="qq_login()"></i>
                    </div>
                </div>
            </div>
            <div class="form_register">
                <div class="title">3DM  欢迎新人加入</div>
                <div class="infowrap">
                    <div class="input_lis">
                        <span>区号:</span>
                        <select id="areacode" name="areacode"></select>
                    </div>
                    <div class="input_lis">
                        <span>账号:</span>
                        <input value="" required="required" autocomplete="off" requiredtitle="请输入手机号" patterntitle="国内手机号为11个数字国外手机为区号-手机号!" class="mobile" type="text" name="mobile" id="mobile" placeholder="请输入手机号">
                    </div>
                    <div class="input_lis">
                        <span>密码:</span>
                        <input id="regpasswd" name="regpasswd" value="" required="required" autocomplete="off" title="别忘了密码" class="passwd" type="password" placeholder="请输入密码（6-18位字母、数字、符号）">
                    </div>
                    <div class="input_lis">
                        <span>确认密码:</span>
                        <input id="checkpasswd" name="checkpasswd" value="" required="required" autocomplete="off" title="别忘了密码" class="checkpasswd" type="password" placeholder="再次输入密码">
                    </div>
                    <div class="input_lis yzm_inp">
                        <span>验证码:</span>
                        <input id="validate" name="validate" value="" required="required" requiredtitle="输入验证码" type="text" class="yzm-c" maxlength="16" placeholder="输入验证码">
                            <div class="time " id="validate_btn" onclick="get_regsms()">获取验证码</div>
                    </div>
                    <div class="tips">
                        收不到验证码？<span class="feedback" onclick="show_feedback()">去反馈</span>
                    </div>
                    <div class="submit_wrap">
                        <span class="submit" onclick="reg_submit()">注 册</span>
                    </div>
                    <div class="rule_wrap">
                        <input id="rule" name="rule" type="checkbox" checked="checked" value="">
                        <div class="btn_ico2"></div>
                        <label for="rule">我已同意</label><a href="https://my.3dmgame.com/agreement" target="_blank">《3DM账号协议》</a>
                        <div class="tips_login">已有账号？<a id="login2" href="javascript:void(0);" onclick="openlogin()">去登录</a></div>
                    </div>
                </div>
            </div>
        </div><!-- 广告位：首页top -->
<script>
    (function() {
        var s = "_" + Math.random().toString(36).slice(2);
        document.write('<div id="' + s + '"></div>');
        (window.slotbydup=window.slotbydup || []).push({
            id: '5941958',
            container: s,
            size: '1000,90',
            display: 'inlay-fix'
        });
    })();
</script>
</body>
</html>