<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>视频中心_最新游戏视频_游戏视频大全_3DM网游</title>
    <meta name="Keywords" content="游戏视频,赛事视频"/>
    <meta name="Description" content="3DM视频栏目为玩家带来游戏视频汇总，不仅有热门电竞赛事视频，新游戏宣传视频，更有游戏试玩视频等等。"/>
    <link rel="canonical" href="https://ol.3dmgame.com/v_all_1"/>
    <link rel="stylesheet" type="text/css" href="css/wy-base-1908207.css"/>
    <link rel="stylesheet" type="text/css" href="css/wy-common-1908206.css"/>
    <link rel="stylesheet" type="text/css" href="css/wy_fa_video.css"/>
    <!--<link rel="stylesheet" type="text/css" href="../static/css/wy-base-1908207.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/wy-common-1908206.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/wy_fa_video.css"/>-->

</head>
<body>
<div class="header_wrap">
    <div class="header_top">
        <div class="center">
            <div class="ul_link">
                <a href="../Index.html" target="_blank"><i class="ico1"></i>主站</a>
                <a href="../Index1.html" target="_blank"><i class="ico2"></i>商城</a>
                <a href="../Index2.html" target="_blank"><i class="ico3"></i>论坛</a>
            </div>
            <div class="head_top_rt" id="my_user_top">
                <!--<img src="../static/images/ioc-ren.png">-->
                <img src="images/ioc-ren.png">
                <a href="javascript:void(0);" class="login" onclick="openlogin()">登录</a>
                <a href="javascript:void(0);" class="enroll" onclick="openregister()">注册</a>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="center">
            <a href="https://www.3dmgame.com"><img src="https://ol.3dmgame.com/page/images/logo.png" class="login"></a>
            <div class="search">
                <form action="https://so.3dmgame.com/" method="get" target="_blank" autocomplete="off" id="bdcs">
                    <input type="text" onblur="if (this.value=='') this.value='我的世界'" value="我的世界"
                           this.style.color="#000000" onfocus="if (this.value!='') this.value=''" name="keyword"/>
                    <input type="hidden" name="subsearch" value="1"/>
                    <input type="hidden" name="type" value="3"/>
                    <button>
                        <i>
                           <!-- <img src="../static/images/ioc-sou.png">-->
                            <img src="images/ioc-sou.png">
                        </i></button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="title">
        <div class="home"></div>
        <span>您的位置：<a href="https://ol.3dmgame.com" target="_blank">视屏</a> > <i>推荐视频</i> </span>
    </div>
    <div class="cent">
        <div class="centleft">
            <ol>
                <li>
                    <a href="https://ol.3dmgame.com/v_all_1/" class="as">推荐视频</a>
                </li>
                <li>
                    <a href="https://ol.3dmgame.com/v_1_1/">原创视频</a>
                </li>
                <li>
                    <a href="https://ol.3dmgame.com/v_2_1/">赛事视频</a>
                </li>
                <li>
                    <a href="https://ol.3dmgame.com/v_3_1/">预告视频</a>
                </li>
                <li>
                    <a href="https://ol.3dmgame.com/v_4_1/">解说视频</a>
                </li>
                <li>
                    <a href="https://ol.3dmgame.com/v_5_1/">精彩时刻</a>
                </li>
                <li>
                    <a href="https://ol.3dmgame.com/v_6_1/">视频攻略</a>
                </li>
            </ol>
            <ul class="video_list ">
                <li class="selectpost">
                    <a href="https://ol.3dmgame.com/v/2631.html" target="_blank" class="selectarcpost">
                        <div class="imgst">
                            <div class="bf"></div>
                            <img src="https://ol.3dmgame.com/uploads/images/thumbnews/20190904/1567561280_188693.jpg">
                        </div>
                        <div class="h3">LCK2019夏季赛常规赛9月5日SB VS KZ视频回顾</div>
                        <p>LPL019夏季赛常规赛9月5日SB VS KZ的比赛马上就要开始了，这两支队伍的实力都是世界顶尖级水平的，那么这两支旗鼓相当的队伍哪支队伍将会取胜呢，一起来看看吧。</p>
                        <div class="item">
                            <span class="time"><i></i>2019-09-04 09:41:23</span>
                            <span class="it"><i class="in"></i><span class="selectarcnum">0</span></span>
                        </div>
                    </a>
                </li>
                <li class="selectpost">
                    <a href="https://ol.3dmgame.com/v/2623.html" target="_blank" class="selectarcpost">
                        <div class="imgst">
                            <div class="bf"></div>
                            <img src="https://ol.3dmgame.com/uploads/images/thumbnews/2019/0827/1566871628282.jpg">
                        </div>
                        <div class="h3">《魔兽世界怀旧服》新手入坑指南：盗贼篇</div>
                        <p>魔兽世界怀旧服新手入坑盗贼教学的入门视频，想要了解盗贼这一职业的新手玩家不要错过了，一起来看下吧。 </p>
                        <div class="item">
                            <span class="time"><i></i>2019-08-27 10:07:45</span>
                            <span class="it"><i class="in"></i><span class="selectarcnum">0</span></span>
                        </div>
                    </a>
                </li>
                <li class="selectpost">
                    <a href="https://ol.3dmgame.com/v/2622.html" target="_blank" class="selectarcpost">
                        <div class="imgst">
                            <div class="bf"></div>
                            <img src="https://ol.3dmgame.com/uploads/images/thumbnews/20190827/1566871365_541390.jpg">
                        </div>
                        <div class="h3">《魔兽世界》怀旧服种族与职业选择最全介绍</div>
                        <p>魔兽世界怀旧服的种族与职业选择最全的介绍，给想入坑但不知道玩什么职业的萌新排排雷，一起来看下吧。 </p>
                        <div class="item">
                            <span class="time"><i></i>2019-08-27 10:02:51</span>
                            <span class="it"><i class="in"></i><span class="selectarcnum">0</span></span>
                        </div>
                    </a>
                </li>
                <li class="selectpost">
                    <a href="https://ol.3dmgame.com/v/2621.html" target="_blank" class="selectarcpost">
                        <div class="imgst">
                            <div class="bf"></div>
                            <img src="https://ol.3dmgame.com/uploads/images/thumbnews/2019/0827/1566871069259.jpg">
                        </div>
                        <div class="h3">《魔兽世界》怀旧服前期快速升级教学</div>
                        <p>魔兽世界怀旧服的前期快速升级教学，经验是自己误打误撞得来的，一起来学习一下吧。 </p>
                        <div class="item">
                            <span class="time"><i></i>2019-08-27 09:59:24</span>
                            <span class="it"><i class="in"></i><span class="selectarcnum">0</span></span>
                        </div>
                    </a>
                </li>
                <li class="selectpost">
                    <a href="https://ol.3dmgame.com/v/2620.html" target="_blank" class="selectarcpost">
                        <div class="imgst">
                            <div class="bf"></div>
                            <img src="https://ol.3dmgame.com/uploads/images/thumbnews/20190826/1566782373_690897.jpg">
                        </div>
                        <div class="h3">LPL2019夏季赛常规赛8月25日RNG VS LNG频回顾</div>
                        <p>LPL019夏季赛常规赛8月25日RNG VS LNG的比赛马上就要开始了，这两支队伍的实力都是世界顶尖级水平的，那么这两支旗鼓相当的队伍哪支队伍将会取胜呢，一起来看看吧。</p>
                        <div class="item">
                            <span class="time"><i></i>2019-08-26 09:19:36</span>
                            <span class="it"><i class="in"></i><span class="selectarcnum">0</span></span>
                        </div>
                    </a>
                </li>
                <li class="selectpost">
                    <a href="https://ol.3dmgame.com/v/2619.html" target="_blank" class="selectarcpost">
                        <div class="imgst">
                            <div class="bf"></div>
                            <img src="https://ol.3dmgame.com/uploads/images/thumbnews/20190826/1566781943_195895.jpg">
                        </div>
                        <div class="h3">LCK2019夏季赛常规赛8月31日GRF VS SKT视频回顾</div>
                        <p>LPL019夏季赛常规赛8月31日GRF VS SKT的比赛马上就要开始了，这两支队伍的实力都是世界顶尖级水平的，那么这两支旗鼓相当的队伍哪支队伍将会取胜呢，一起来看看吧。</p>
                        <div class="item">
                            <span class="time"><i></i>2019-08-26 09:12:25</span>
                            <span class="it"><i class="in"></i><span class="selectarcnum">0</span></span>
                        </div>
                    </a>
                </li>
                <li class="selectpost">
                    <a href="https://ol.3dmgame.com/v/2618.html" target="_blank" class="selectarcpost">
                        <div class="imgst">
                            <div class="bf"></div>
                            <img src="https://ol.3dmgame.com/uploads/images/thumbnews/20190826/1566781845_329351.jpg">
                        </div>
                        <div class="h3">LCK2019夏季赛常规赛8月25日DWG VS SKT视频回顾</div>
                        <p>LPL019夏季赛常规赛8月25日DWG VS SKT的比赛马上就要开始了，这两支队伍的实力都是世界顶尖级水平的，那么这两支旗鼓相当的队伍哪支队伍将会取胜呢，一起来看看吧。</p>
                        <div class="item">
                            <span class="time"><i></i>2019-08-26 09:10:50</span>
                            <span class="it"><i class="in"></i><span class="selectarcnum">0</span></span>
                        </div>
                    </a>
                </li>
                <li class="selectpost">
                    <a href="https://ol.3dmgame.com/v/2617.html" target="_blank" class="selectarcpost">
                        <div class="imgst">
                            <div class="bf"></div>
                            <img src="https://ol.3dmgame.com/uploads/images/thumbnews/20190826/1566779797_266728.jpg">
                        </div>
                        <div class="h3">DOTA2TI9国际邀请赛8月25日OG VS Liquid视频回顾</div>
                        <p>《DOTA2》TI9国际邀请赛8月25日OG VS Liquid视频回顾，这两支队伍的实力都是世界顶尖级水平的，那么这两支旗鼓相当的队伍哪支队伍将会取胜呢，一起来看看吧。</p>
                        <div class="item">
                            <span class="time"><i></i>2019-08-24 18:23:08</span>
                            <span class="it"><i class="in"></i><span class="selectarcnum">0</span></span>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="fenye">
                <ul class="pagination">
                    <li class="first disabled"><span>首页</span></li>
                    <li class="prev disabled"><span>&laquo;</span></li>
                    <li class="active"><a href="#" data-page="0">1</a></li>
                    <li><a href="#" data-page="1">2</a></li>
                    <li><a href="#" data-page="2">3</a></li>
                    <li><a href="#" data-page="3">4</a></li>
                    <li><a href="#" data-page="4">5</a></li>
                    <li><a href="#" data-page="5">6</a></li>
                    <li><a href="#" data-page="6">7</a></li>
                    <li><a href="#" data-page="7">8</a></li>
                    <li class="next"><a href="#" data-page="1">&raquo;</a></li>
                    <li class="last"><a href="#" data-page="175">末页</a></li>
                </ul>
            </div>
        </div>
        <div class="centright">
            <style>.R_qingtianzhu {
                width: 346px;
                overflow: hidden;
                position: relative;
            }

            .R_qingtianzhu > div {
                margin-bottom: 20px;
            }</style>
            <div class="R_qingtianzhu">
                <script>
                    (function () {
                        var s = "_" + Math.random().toString(36).slice(2);
                        document.write('<div id="' + s + '"></div>');
                        (window.slotbydup = window.slotbydup || []).push({
                            id: '5866597',
                            container: s,
                            size: '346,226',
                            display: 'inlay-fix'
                        });
                    })();
                </script>
                <i style="width:26px;height:15px;position:absolute;left:0;bottom: 20px;background:url(https://www.3dmgame.com/page/images/icon_ad.png);"></i>
            </div>
            <div class="warp_a">
                <div class="tist">
                    <div class="imglist"><i class="warpa_i"></i><span>近期热门</span></div>
                    <div class="rightlist"><i></i>
                        <a href="/v_all_1" target="_blank">更多</a>
                    </div>
                </div>
                <ul>
                    <li>
                        <a href="https://ol.3dmgame.com/v/2627.html" target="_blank"><i></i>LPL2019夏季赛常规赛9月1日TES VS
                            RNG频回顾</a>
                    </li>
                    <li>
                        <a href="https://ol.3dmgame.com/v/2619.html" target="_blank"><i></i>LCK2019夏季赛常规赛8月31日GRF VS
                            SKT视频回顾</a>
                    </li>
                    <li>
                        <a href="https://ol.3dmgame.com/v/2629.html" target="_blank"><i></i>LCK2019夏季赛常规赛9月3日KZ VS
                            AF视频回顾</a>
                    </li>
                    <li>
                        <a href="https://ol.3dmgame.com/v/2628.html" target="_blank"><i></i>LPL2019夏季赛常规赛9月4日BLG VS
                            TES频回顾</a>
                    </li>
                    <li>
                        <a href="https://ol.3dmgame.com/v/2626.html" target="_blank"><i></i>LPL2019夏季赛常规赛8月31日FPX VS
                            BLG频回顾</a>
                    </li>
                    <li>
                        <a href="https://ol.3dmgame.com/v/2623.html" target="_blank"><i></i>《魔兽世界怀旧服》新手入坑指南：盗贼篇</a>
                    </li>
                    <li>
                        <a href="https://ol.3dmgame.com/v/2618.html" target="_blank"><i></i>LCK2019夏季赛常规赛8月25日DWG VS
                            SKT视频回顾</a>
                    </li>
                    <li>
                        <a href="https://ol.3dmgame.com/v/2625.html" target="_blank"><i></i>《魔兽世界》怀旧服1-60部落升级思路分享</a>
                    </li>
                </ul>
            </div>
            <div class="warp_d">
                <div class="tist">
                    <div class="imglist"><i class="warpd_i"></i><span>竞技视频</span></div>
                    <div class="rightlist"><i></i>
                        <a href="https://ol.3dmgame.com/v_2_1/" target="_blank">更多</a>
                    </div>
                </div>
                <ul>
                    <li>
                        <a href="https://ol.3dmgame.com/v/2631.html" target="_blank" class="leftlist">
                            <div class="imgwarp "><img src="/uploads/images/thumbnews/20190904/1567561280_188693.jpg">
                            </div>
                            <p>LCK2019夏季赛常规赛9月5日SB VS KZ视频回顾</p>
                        </a>
                    </li>
                    <li>
                        <a href="https://ol.3dmgame.com/v/2630.html" target="_blank" class="leftlist">
                            <div class="imgwarp "><img src="/uploads/images/thumbnews/20190904/1567560722_590150.jpg">
                            </div>
                            <p>LPL2019夏季赛常规赛9月6日FPX VS RNG频回顾</p>
                        </a>
                    </li>
                    <li>
                        <a href="https://ol.3dmgame.com/v/2629.html" target="_blank" class="leftlist">
                            <div class="imgwarp "><img src="/uploads/images/thumbnews/20190902/1567387456_551645.jpg">
                            </div>
                            <p>LCK2019夏季赛常规赛9月3日KZ VS AF视频回顾</p>
                        </a>
                    </li>
                    <li>
                        <a href="https://ol.3dmgame.com/v/2628.html" target="_blank" class="leftlist">
                            <div class="imgwarp "><img src="/uploads/images/thumbnews/20190902/1567387013_232916.jpg">
                            </div>
                            <p>LPL2019夏季赛常规赛9月4日BLG VS TES频回顾</p>
                        </a>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <style>.R_fangkuai {
                width: 346px;
                overflow: hidden;
                position: relative;
            }

            .R_fangkuai > div {
                margin-bottom: 20px;
            }</style>
            <div class="R_fangkuai">
                <script>
                    (function () {
                        var s = "_" + Math.random().toString(36).slice(2);
                        document.write('<div id="' + s + '"></div>');
                        (window.slotbydup = window.slotbydup || []).push({
                            id: '5866595',
                            container: s,
                            size: '346,226',
                            display: 'inlay-fix'
                        });
                    })();
                </script>
                <i style="width:26px;height:15px;position:absolute;left:0;bottom: 20px;background:url(https://www.3dmgame.com/page/images/icon_ad.png);"></i>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="fotter">
    <div class="fotter-top">
        <div class="center">
            <div class="wrap">
                <p>综合内容</p>
                <ul>
                    <li><a href="#" target="_blank">硬件设备</a></li>
                    <li><a href="#" target="_blank">游戏论坛</a></li>
                    <li><a href="#" target="_blank">娱乐频道</a></li>
                    <li><a href="#" target="_blank">原创专栏</a></li>
                    <li><a href="#" target="_blank">游戏商城</a></li>
                    <li><a href="#" target="_blank">游戏汉化</a></li>
                </ul>
            </div>
            <div class="wrap">
                <p>单机游戏</p>
                <ul>
                    <li><a href="#" target="_blank">游戏下载</a></li>
                    <li><a href="#" target="_blank">补丁MOD</a></li>
                    <li><a href="#" target="_blank">原创攻略</a></li>
                    <li><a href="#" target="_blank">Switch</a></li>
                    <li><a href="#" target="_blank">PS4</a></li>
                    <li><a href="#" target="_blank">发售表</a></li>
                </ul>
            </div>
            <div class="wrap">
                <p>手机游戏</p>
                <ul>
                    <li><a href="#" target="_blank">安卓游戏</a></li>
                    <li><a href="#" target="_blank">苹果游戏</a></li>
                    <li><a href="#" target="_blank">手游攻略</a></li>
                    <li><a href="#" target="_blank">手游礼包</a></li>
                    <li><a href="#" target="_blank">专题合集</a></li>
                    <li><a href="#" target="_blank">手游排行</a></li>
                </ul>
            </div>
            <div class="wrap">
                <p>网络游戏</p>
                <ul>
                    <li><a href="#" target="_blank">网游资讯</a></li>
                    <li><a href="#" target="_blank">竞技赛事</a></li>
                    <li><a href="#" target="_blank">网游活动</a></li>
                    <li><a href="#" target="_blank">网游大全</a></li>
                    <li><a href="#" target="_blank">新游试玩</a></li>
                    <li><a href="#" target="_blank">激活码</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="fotter-bottom">
        <div class="fotter-link">
            <a href="#" target="_blank">关于3DMGAME</a>|<a
                href="#" target="_blank">招聘信息</a>|<a
                href="#" target="_blank">网站地图</a>|<a
                href="#" target="_blank">联系我们</a>
            <p>CopyRight©2003-2018 <a href="#">WWW.3DMGAME.COM</a> All Right Reserved
                京ICP备14006952号-1 京网文（2016）1650-207号</p>
        </div>
    </div>
</div>
</body>
</html>