
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>英雄联盟LOL_LOL官网_LOL活动_LOL资料_3DM英雄联盟专区_3DM网游</title>
    <meta name="Keywords" content="LOL攻略,LOL新闻,视频,激活码,礼包,lol英雄联盟专区" />
    <meta name="Description" content="《英雄联盟》专区为玩家提供最新最全的游戏新闻,游戏攻略，S9赛季最新的符文天赋加点，第一时间为大家整理LOL最新游戏活动，提供LOL周免英雄介绍，最新皮肤上线和皮肤抽奖打折消息，玩家在游戏过程中遇到的疑难困惑都可以在本专区找到最佳的解答。" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="mobile-agent" content="format=html5;url=https://m.3dmgame.com/ol/lol/" />
    <meta name="mobile-agent" content="format=xhtml;url=https://m.3dmgame.com/ol/lol/" />
    <link rel="canonical" href="https://ol.3dmgame.com/lol/" />
    <link rel="alternate" media="only screen and (max-width: 750px)" href="https://m.3dmgame.com/ol/lol/" />
    <link rel="stylesheet" type="text/css" href="http://47.102.198.5:22222/css/wy-base.css" />
    <link rel="stylesheet" type="text/css" href="http://47.102.198.5:22222/css/wy-common.css" />
    <link rel="stylesheet" href="http://47.102.198.5:22222/css/wy_area_index.css" />
    <script type="text/javascript" src="http://47.102.198.5:22222/js/jq1.9.js"></script>
<script src="http://47.102.198.5:22222/js/ds.js"></script></head>
<body>
<div class="header_warp">
    <div class="header_top">
        <div class="center">
			<div class="ul_link">
                <a href="https://www.3dmgame.com" target="_blank"><i class="ico1"></i>主站</a>
                <a href="https://shop.3dmgame.com" target="_blank"><i class="ico2"></i>商城</a>
            </div>
            <div class="head_top_rt" id="my_user_top">
                <img src="http://47.102.198.5:22222/image/ioc-ren.png">
                <a href="javascript:void(0);" class="login" onclick="openlogin()">登录</a>
                <a href="javascript:void(0);" class="enroll" onclick="openregister()">注册</a>
            </div>
        </div>
    </div>
    <div class="banner">
        <img src="http://47.102.198.5:22222/image/pagBG.png">
        <div class="baidu_img_Grasp"><img src="http://47.102.198.5:22222/image/1513565838_688301.jpg"></div>
        <div class="top">
            <div class="nava">
                <ul>
                    <li class="shou"><a href="http://localhost:8093/">首页</a></li>
                    <li class="{shounews}"><a href="http://localhost:8093/news_type/load">新闻</a></li>
                    <li class="{shouraiders}"><a href="http://localhost:8092/index">攻略</a></li>
                    <li class="{shouvideo}"><a href="http://localhost:8091/">视频</a></li>
					<li class="{shouvideo}"><a href="http://localhost:8090/index/load">游戏下载</a></li>

                                    </ul>
                <div class="search">
                    <form action="https://so.3dmgame.com/" method="get" target="_blank" autocomplete="off" id="bdcs">
                        <input type="text" onblur="if (this.value=='') this.value='我的世界'" value="我的世界" this.style.color="#000000" onfocus="if (this.value!='') this.value=''" name="keyword" />
                        <input type="hidden" name="subsearch" value="1" />
                        <input type="hidden" name="type" value="3" />
                        <button><i> </i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

<script>
$(".header_warp .banner .top .nava .search").css({"width":1200-$(".header_warp .banner .top .nava ul").width()+"px"})
</script><div class="content">
    <div class="ar_top">
        <div class="ar_left">
            <div class="topin">
                <div class="lef">
                    <div class="lunbo">
    <div class="img">
                <a href="http://localhost:8093/news/byid?newsID=5" target="_blank"><img src="http://47.102.198.5:22222/image/1569313173525.jpg">
            <div class="h2">打进总决赛俱乐部没了，凯时X电竞聚焦SPY被解散，最迟12月关闭</div></a>
                <a href="http://localhost:8093/news/byid?newsID=6" target="_blank"><img src="http://47.102.198.5:22222/image/1569234354_759617.jpg">
            <div class="h2">《英雄联盟》S9全球总决赛今晚抽签 G2赛前骚话不断</div></a>
                <a href="http://localhost:8093/news/byid?newsID=7" target="_blank"><img src="http://47.102.198.5:22222/image/1569223149554.jpg">
            <div class="h2">影流之主在路上 《英雄联盟》将与漫威合作再推出3部漫画</div></a>
                <a href="http://localhost:8093/news/byid?newsID=8" target="_blank"><img src="http://47.102.198.5:22222/image/1569147388170.png">
            <div class="h2">最贵皮肤or最便宜LV？《英雄联盟》将与奢侈品牌LV联动</div></a>
                <a href="http://localhost:8093/news/byid?newsID=9" target="_blank"><img src="http://47.102.198.5:22222/image/1568887007_309118.jpeg">
            <div class="h2">《英雄联盟》S9战队规则大改动！每支战队将允许7人首发</div></a>
            </div>
    <ol>
        <li class="ac">1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
    </ol>
    <ul>
                <li class="bor"><img src="http://47.102.198.5:22222/image/1569313173525.jpg"></li>
                <li><img src="http://47.102.198.5:22222/image/1569234354_759617.jpg"></li>
                <li><img src="http://47.102.198.5:22222/image/1569223149554.jpg"></li>
                <li><img src="http://47.102.198.5:22222/image/1569147388170.png"></li>
                <li><img src="http://47.102.198.5:22222/image/1568887007_309118.jpeg"></li>
            </ul>
</div>
                    <div class="tab">
    <div class="h2"><span><i></i>高手养成</span></div>
        <a href="http://localhost:8092/moban?pid=1" target="_blank" class="a">峡谷之巅冲分英雄推荐</a>
        <a href="http://localhost:8092/moban?pid=2" target="_blank" class="a">天虎阵容攻略</a>
        <a href="http://localhost:8092/moban?pid=3" target="_blank" class="a">虚空刺客卡萨丁阵容攻略</a>
        <a href="http://localhost:8092/moban?pid=4" target="_blank" class="a">贵族法师船长阵容攻略</a>
        <a href="http://localhost:8092/moban?pid=5" target="_blank" class="a">六换型龙女阵容攻略</a>
        <a href="http://localhost:8092/moban?pid=6" target="_blank" class="a">冲分英雄推荐</a>
        <a href="http://localhost:8092/moban?pid=7" target="_blank" class="a">T1级别上路推荐</a>
        <a href="http://localhost:8092/moban?pid=8" target="_blank" class="a">最后的轻语适合阵容推荐</a>
        <a href="http://localhost:8092/moban?pid=9" target="_blank" class="a">快速闪避适合阵容推荐</a>
        <a href="http://localhost:8092/moban?pid=10" target="_blank" class="a">8.3登录领永久活动介绍</a>
        <a href="http://localhost:8092/moban?pid=11" target="_blank" class="a">7周年猎场保毕业大赏活动介绍</a>
        <a href="http://localhost:8092/moban?pid=12" target="_blank" class="a">魔鲲现世活动介绍</a>
        <a href="http://localhost:8092/moban?pid=13" target="_blank" class="a">新枪械AK15实装游戏</a>
        <a href="http://localhost:8092/moban?pid=14" target="_blank" class="a">抓钩忍者流打法</a>
        <a href="http://localhost:8092/moban?pid=15" target="_blank" class="a">惊魂探案活动第五阶段线索位置攻略</a>
        <a href="http://localhost:8092/moban?pid=16" target="_blank" class="a">冲分英雄推荐</a>
    </div>
                </div>
                <div class="rit">
                    <div class="top" style="height: 80px;border-bottom:none">
            <a href="http://localhost:8090/details/index/1/1" target="_blank" class="a1">《皇牌空战7：未知空域》中文免安装版</a>
            <a href="http://localhost:8090/details/index/2/2" target="_blank" class="a2">孤胆枪手2</a>
            <a href="http://localhost:8090/details/index/3/3" target="_blank" class="a3">孤岛惊魂5</a>
    </div>
<div class="top" style="height: 80px;">
            <a href="https://ol.3dmgame.com/gl/26461.html" target="_blank" class="a1">《巫师3：血与酒之歌》中文免安装版</a>
            <a href="https://ol.3dmgame.com/gl/63431.html" target="_blank" class="a2">《巫师2》</a>
            <a href="https://ol.3dmgame.com/gl/63425.html" target="_blank" class="a3">《巫师1》</a>
    </div>
                    <div class="list">
                                                                                <a href="http://localhost:8093/news/byid?newsID=35" target="_blank" class="pading"><i></i>这位WE的ADC选手提名了2019亚太区最帅面容TOP100<span>09-24</span></a>
                                                                                                            <a href="http://localhost:8093/news/byid?newsID=34" target="_blank"><i></i>福布斯中国：UZI是中国电竞第一流量担当<span>09-23</span></a>
                                                                                                            <a href="http://localhost:8093/news/byid?newsID=33" target="_blank"><i></i>若风再次入选福布斯中国电竞十大意见领袖，堪称人生赢家<span>09-23</span></a>
                                                                                                            <a href="http://localhost:8093/news/byid?newsID=32" target="_blank"><i></i>《LOL》史上最强阵容 8届S赛冠军齐聚S9<span>09-22</span></a>
                                                                                                                                    <a href="http://localhost:8093/news/byid?newsID=28" target="_blank" class="pading"><i></i>重回拉斯维加斯！2019《LOL》全明星赛12月5日举办<span>09-26</span></a>
                                                                                                            <a href="http://localhost:8093/news/byid?newsID=31" target="_blank"><i></i>《LOL》9月幸运召唤师2019活动网址<span>09-26</span></a>
                                                                                                            <a href="http://localhost:8093/news/byid?newsID=30" target="_blank"><i></i>《LOL》八周年战斗之夜活动介绍<span>09-26</span></a>
                                                                                                            <a href="http://localhost:8093/news/byid?newsID=29" target="_blank"><i></i>《LOL》LPL无畏出征抽奖活动介绍<span>09-26</span></a>
                                                                                                                                    <a href="http://localhost:8093/news/byid?newsID=13" target="_blank" class="pading"><i></i>《LOL》八周年战斗之夜开启 完成任务解锁永久皮肤<span>09-23</span></a>
                                                                                                            <a href="http://localhost:8093/news/byid?newsID=12" target="_blank"><i></i>重回拉斯维加斯！2019《LOL》全明星赛12月5日举办<span>09-11</span></a>
                                                                                                            <a href="http://localhost:8093/news/byid?newsID=11" target="_blank"><i></i>《LOL》史上最强阵容 8届S赛冠军齐聚S9<span>09-11</span></a>
                                                                                                            <a href="http://localhost:8093/news/byid?newsID=10" target="_blank"><i></i>比Steam前十游戏总和还高《LOL》并发玩家数达800万<span>09-09</span></a>
                                                                                                            <a href="http://localhost:8093/news/byid?newsID=9" target="_blank"><i></i>《英雄联盟》S9战队规则大改动！每支战队将允许7人首发span>09-09</span></a>
                                                                        </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="botton_in">
                <div class="list_in"><span><i></i>游戏视频</span>
                                                                    <p class="pst">推荐视频</p>
                                                                                            <p>原创视频</p>
                                                                                            <p>赛事视频</p>
																							<p>预告视频</p>
																							<p>解说视频</p>
																							<p>视频攻略</p>
                                                            </div>
                <div>
                                                            <div class="warp_sp">
                                                                    <a href="http://localhost:8091/videoDescribe?video_id=48" target="_blank">
                            <p><img src="http://47.102.198.5:26666/images/1569463139431.jpg"><span>00:00:44</span></p>
                            <div class="h5">qqqqqq</div></a>
							                            <a href="http://localhost:8091/videoDescribe?video_id=16" target="_blank">
                            <p><img src="http://47.102.198.5:22222/image/1565935968_727396.jpg"><span>00:01:02</span></p>
                            <div class="h5">《洛奇英雄传》贝拉实战曝光 挥舞巨斧的萌系少女</div></a>
		                                                <a href="http://localhost:8091/videoDescribe?video_id=1" target="_blank">
                            <p><img src="http://47.102.198.5:22222/image/1566177308_386211.jpg"><span>00:05:00</span></p>
                            <div class="h5">《LOL》2019愚人节至臻小鱼人皮肤预</div></a>
							 </div>

                                                            <div class="warp_sp hide">
                                                                    <a href="http://localhost:8091/videoDescribe?video_id=25" target="_blank">
                            <p><img src="http://47.102.198.5:22222/image/test01.jpg"><span>00:00:44</span></p>
                            <div class="h5">wwqq</div></a>
                                                <a href="http://localhost:8091/videoDescribe?video_id=3" target="_blank">
                            <p><img src="http://47.102.198.5:22222/image/1566179967_646916.jpg"><span>00:05:00</span></p>
                            <div class="h5">《魔兽世界》怀旧服种族与职业选择最全介绍</div></a>


                                            </div>
                                                            <div class="warp_sp hide">
                                                                    <a href="http://localhost:8091/videoDescribe?video_id=4" target="_blank">
                            <p><img src="http://47.102.198.5:22222/image/1566180445_354485.jpg"><span>00:05:00</span></p>
                            <div class="h5">《最终幻想14》5.0版本“暗影之逆焰”中文官方CG</div></a>

                                            </div>
                                                            <div class="warp_sp hide">
                                                                    <a href="http://localhost:8091/videoDescribe?video_id=6" target="_blank">
                            <p><img src="http://47.102.198.5:22222/image/1566181586_250288.jpg"><span>02:00:00</span></p>
                            <div class="h5">LPL2019夏季赛常规赛9月1日TES VS RNG频回顾</div></a>
                                                <a href="http://localhost:8091/videoDescribe?video_id=5" target="_blank">
                            <p><img src="http://47.102.198.5:22222/image/1566180582_447665.jpg"><span>02:00:00</span></p>
                            <div class="h5">《战意》零氪散人玩家该如何玩这款游戏</div></a>
                                                <a href="http://localhost:8091/videoDescribe?video_id=7" target="_blank">
                            <p><img src="http://47.102.198.5:22222/image/1566182124_903721.jpg"><span>02:00:00</span></p>
                            <div class="h5">【鬼畜】Doinb潘森重做试玩腾讯视频</div></a>

                                            </div>

											<div class="warp_sp hide">
                                                                    <a href="http://47.102.198.5:22222/image/1566182248_695687.jpg" target="_blank">
                            <p><img src="http://47.102.198.5:22222/image/1563330525_913369.jpg"><span>02:00:00</span></p>
                            <div class="h5">潘森，不屈之枪 英雄主题音乐 – 英雄联盟</div></a>
                                                          </div>

											<div class="warp_sp hide">
                                                                    <a href="http://localhost:8091/videoDescribe?video_id=10" target="_blank">
                            <p><img src="http://47.102.198.5:22222/image/1566182442_179553.jpg"><span>02:00:00</span></p>
                            <div class="h5">《艾兰岛》萌企鹅塔防大战</div></a>
                                                <a href="http://localhost:8091/videoDescribe?video_id=9" target="_blank">
                            <p><img src="http://47.102.198.5:22222/image/1566182354_414948.jpg"><span>02:00:00</span></p>
                            <div class="h5">《领地人生》真实中世纪沙盒网游</div></a>

                                            </div>
                                    </div>
            </div>
        </div>
        <!--右边-->
        <div class="ar_right">
            <div class="right1">
    <div class="title1"><span><i></i>热门游戲</span><a href="http://localhost:8090/index/load" target="_blank">更多<i></i></a></div>
        <a href="http://localhost:8090/details/index/6/4" target="_blank" class="a_img"><img src="http://47.102.198.5:22222/image/1560251765_762939.jpg">
        <p>《餐瘾地城》游戏库</p>
    </a>
        <a href="http://localhost:8090/details/index/5/4" target="_blank" class="a_img"><img src="http://47.102.198.5:22222/image/1528772396_505589.jpg">
        <p>《植物大战僵尸》电脑版</p>
    </a>
    </div>
            <div class="right2">
    <div class="title1"><span><i></i>热门攻略</span><a href="http://localhost:8092/index" target="_blank">更多<i></i></a></div>
        <a href="http://localhost:8092/moban?pid=2" target="_blank" class="a2_img">
        <p><img src="http://47.102.198.5:22222/image/1567749923977.jpg"></p>
        <div class="h3">《LOL》云顶之弈9.17版本豹天虎阵容攻略</div></a>
        <a href="http://localhost:8092/moban?pid=3" target="_blank" class="a2_img">
        <p><img src="http://47.102.198.5:22222/image/1567763674964.gif"></p>
        <div class="h3">《LOL》云顶之弈9.17版本虚空刺客卡萨丁阵容攻略</div></a>
        <a href="http://localhost:8092/moban?pid=4" target="_blank" class="a2_img">
        <p><img src="http://47.102.198.5:22222/image/1567763015149.gif"></p>
        <div class="h3">《LOL》云顶之弈9.17版本贵族法师船长阵容攻略</div></a>
        <a href="http://localhost:8092/moban?pid=5" target="_blank" class="a2_img">
        <p><img src="http://47.102.198.5:22222/image/1567762880891.gif"></p>
        <div class="h3">《LOL》云顶之弈9.17版本六换型龙女阵容攻略</div></a>
        <div class="clear"></div>
</div>
            <div class="right3">
    <div class="title1"><span><i></i>常见问题</span><a href="https://ol.3dmgame.com/lol/gl_4_1/" target="_blank">更多<i></i></a></div>
        <a href="https://ol.3dmgame.com/gl/10394.html" target="_blank" class="a_list"><i></i>LOL出现BugSplat报错怎么办</a>
        <a href="https://ol.3dmgame.com/gl/10249.html" target="_blank" class="a_list"><i></i>《LOL》电脑配置推荐解析</a>
        <a href="https://ol.3dmgame.com/gl/10395.html" target="_blank" class="a_list"><i></i>《LOL》客户端三大常见问题解决方法详解</a>
        <a href="https://ol.3dmgame.com/gl/14180.html" target="_blank" class="a_list"><i></i>《LOL​》TESS警告解决方法</a>
        <a href="https://ol.3dmgame.com/gl/10260.html" target="_blank" class="a_list"><i></i>LOL客户端安装失败解决方案</a>
        <a href="https://ol.3dmgame.com/gl/10261.html" target="_blank" class="a_list"><i></i>LOL游戏闪退无法登陆怎么办</a>
        <a href="https://ol.3dmgame.com/gl/14178.html" target="_blank" class="a_list"><i></i>《LOL》TP错误提示解决方法</a>
    </div>
        </div>
        <div class="clear"></div>
    </div>
    <!--页面的中间的部分-->
    <div class="ar_center">
                        <div class="araa_index_warp">

                                                                    <div class="list_info hide">

</div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="ar_bottom">
                <div class="lef_bot">
            <div class="top_bot">
                <span><i></i> 游戏图片</span>
                                                <p class="p1">cosplay</p>
                                                                <p>阿狸美图</p>
                                            </div>
            <div>
                <div class="warp_bot">
                    <div class="bj_lunbo"></div>
                    <div id="warp_Box">
                        <span class="prev"></span>
                        <span class="next"></span>
                        <div class="ul">
                            <ul>
                                                                <li>
                                    <img width="243" height="63" alt="" src="http://47.102.198.5:22222/image/1555402233_948419.jpg" />
                                </li>
                                                                <li>
                                    <img width="243" height="63" alt="" src="http://47.102.198.5:22222/image/1555402232_881724.jpg" />
                                </li>
                                                                <li>
                                    <img width="243" height="63" alt="" src="http://47.102.198.5:22222/image/1555402232_565283.jpg" />
                                </li>
                                                                <li>
                                    <img width="243" height="63" alt="" src="http://47.102.198.5:22222/image/1555402232_702150.jpg" />
                                </li>
                                                                <li>
                                    <img width="243" height="63" alt="" src="http://47.102.198.5:22222/image/1555402232_310736.jpg" />
                                </li>
                                                                <li>
                                    <img width="243" height="63" alt="" src="http://47.102.198.5:22222/image/1555402232_156934.jpg" />
                                </li>
                                                            </ul>
                        </div>
                    </div>
                                        <div class="ul hide">
                        <ul>
                                                        <li>
                                <img width="243" height="63" alt="" src="http://47.102.198.5:22222/image/1555402945_351224.jpg" />
                            </li>
                                                        <li>
                                <img width="243" height="63" alt="" src="http://47.102.198.5:22222/image/1555402945_603767.jpg" />
                            </li>
                                                        <li>
                                <img width="243" height="63" alt="" src="http://47.102.198.5:22222/image/1555402945_507029.jpg" />
                            </li>
                                                        <li>
                                <img width="243" height="63" alt="" src="http://47.102.198.5:22222/image/1555402945_384581.jpg" />
                            </li>
                                                        <li>
                                <img width="243" height="63" alt="" src="http://47.102.198.5:22222/image/1555402945_691310.jpg" />
                            </li>
                                                        <li>
                                <img width="243" height="63" alt="" src="http://47.102.198.5:22222/image/1555402945_346933.jpg" />
                            </li>
                                                        <li>
                                <img width="243" height="63" alt="" src="http://47.102.198.5:22222/image/1555402945_285084.jpg" />
                            </li>
                                                    </ul>
                    </div>
                                    </div>
            </div>
        </div>
                <div class="rit_bot">
            <div class="jhtitle"><span><i></i>游戏信息</span></div>
            <div class="item1">
    <img src="http://47.102.198.5:22222/image/1513565838_688301.jpg">
    <ul class="texta">
        <li class="ls1 ls2">英雄联盟</li>
        <li class="ls1"><a class="a" onclick="expvalcount('lol')">期待+</a><span class="expnums">20754</span></li>
        <li>类型：<span><a href='https://ol.3dmgame.com/ku_category_MOBA_1/' target='_blank'>MOBA</a></span></li>
        <li>画面：<span>3D</span></li>
        <li>开发商：<span>Riot Games</span></li>
        <li>运营商：<span><a href='https://ol.3dmgame.com/ku_firm_Tencent_1/' target='_blank'>腾讯游戏</a></span></li>
        <li>官网：<a href="https://lol.qq.com/main.shtml" target="_blank">点击查看 </a></li>
        <li>状态：<span class="data_span">公测</span></li>
        <li class="last">标签：<span><a href='https://ol.3dmgame.com/ku_collection_hz_1/' target='_blank'>合作</a>，<a href='https://ol.3dmgame.com/ku_collection_pvp_1/' target='_blank'>竞技</a>，<a href='https://ol.3dmgame.com/ku_collection_cl_1/' target='_blank'>策略</a></span></li>
        <div class="clear"></div>
    </ul>
    <div class="data_pf" data-dp="">
        <div class="scorewrap score_b" onclick="getscore('lol', 'score_b')">
            <div class="score hover"><span style="width: 75%;"></span></div>
            <div class="processingbar"><font>8.9</font></div>
            <div class="txt">
                已有<span class="num1">15805</span>人评分
                <u class="myscore">您还未评分！</u>
            </div>
        </div>
    </div>
    <input type="hidden" id="signpf" value="lol" />
</div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="post_indexbot">
        <div class="post">
        <script type="text/javascript">
    var collect_type=3;
</script>
<link rel="stylesheet" type="text/css" href="http://47.102.198.5:22222/css/comments.css"/>

<script src="http://47.102.198.5:22222/js/comments.js"></script>        </div>
    </div>
</div>
<script type="text/javascript" src="http://47.102.198.5:22222/js/wy_area_jian.js" ></script>
<script type="text/javascript" src="http://47.102.198.5:22222/js/wy_area_index.js"></script>
<script type="text/javascript" src="http://47.102.198.5:22222/js/statistics.js"></script><script type="text/javascript" src="http://47.102.198.5:22222/js/calluserlogin.js"></script>
<script type="text/javascript" src="http://47.102.198.5:22222/js/viewscount.js"></script>
<script type="text/javascript">viewscount("special", 2)</script>
<script type="text/javascript">getexpvals('lol')</script>
<div class="fotter">
	<div class="fotter-top">
		<div class="center">
            <div class="wrap">
                <p>综合内容</p>
                <ul>
                    <li><a href="https://3c.3dmgame.com/" target="_blank">硬件设备</a></li>
                    <li><a href="https://bbs.3dmgame.com/" target="_blank">游戏论坛</a></li>
                    <li><a href="https://www.3dmgame.com/bagua/" target="_blank">娱乐频道</a></li>
                    <li><a href="https://www.3dmgame.com/original.html" target="_blank">原创专栏</a></li>
                    <li><a href="https://shop.3dmgame.com" target="_blank">游戏商城</a></li>
                    <li><a href="https://www.3dmgame.com/hanhua/" target="_blank">游戏汉化</a></li>
                </ul>
            </div>
            <div class="wrap">
                <p>单机游戏</p>
                <ul>
                    <li><a href="https://dl.3dmgame.com/" target="_blank">游戏下载</a></li>
                    <li><a href="https://dl.3dmgame.com/patch/" target="_blank">补丁MOD</a></li>
                    <li><a href="https://www.3dmgame.com/gl/" target="_blank">原创攻略</a></li>
                    <li><a href="https://www.3dmgame.com/games/ns_all_1/" target="_blank">Switch</a></li>
                    <li><a href="https://www.3dmgame.com/games/ps4_all_1/" target="_blank">PS4</a></li>
                    <li><a href="https://www.3dmgame.com/release/" target="_blank">发售表</a></li>
                </ul>
            </div>
            <div class="wrap">
                <p>手机游戏</p>
                <ul>
                    <li><a href="https://shouyou.3dmgame.com/android/" target="_blank">安卓游戏</a></li>
                    <li><a href="https://shouyou.3dmgame.com/ios/" target="_blank">苹果游戏</a></li>
                    <li><a href="https://shouyou.3dmgame.com/gl/" target="_blank">手游攻略</a></li>
                    <li><a href="https://shouyou.3dmgame.com/ka/" target="_blank">手游礼包</a></li>
                    <li><a href="https://shouyou.3dmgame.com/zt/" target="_blank">专题合集</a></li>
                    <li><a href="https://shouyou.3dmgame.com/phb/" target="_blank">手游排行</a></li>
                </ul>
            </div>
            <div class="wrap">
                <p>网络游戏</p>
                <ul>
                    <li><a href="https://ol.3dmgame.com/news/" target="_blank">网游资讯</a></li>
                    <li><a href="https://ol.3dmgame.com/esports/" target="_blank">竞技赛事</a></li>
                    <li><a href="https://ol.3dmgame.com/news_5_1/" target="_blank">网游活动</a></li>
                    <li><a href="https://ol.3dmgame.com/ku/" target="_blank">网游大全</a></li>
                    <li><a href="https://ol.3dmgame.com/test/" target="_blank">新游试玩</a></li>
                    <li><a href="https://ol.3dmgame.com/hao/" target="_blank">激活码</a></li>
                </ul>
            </div>
        </div>
	</div>
	<div class="fotter-bottom">
		<div class="fotter-link">
			<a href="https://www.3dmgame.com/s/about.html" target="_blank">关于3DMGAME</a>|<a href="https://www.3dmgame.com/s/joinus.html" target="_blank">招聘信息</a>|<a href="https://www.3dmgame.com/s/sitemap.html" target="_blank">网站地图</a>|<a href="https://www.3dmgame.com/s/contact.html" target="_blank">联系我们</a>
			<p>CopyRight©2003-2018 <a href="https://www.3dmgame.com">WWW.3DMGAME.COM</a> All Right Reserved 京ICP备14006952号-1 京网文（2016）1650-207号</p>
		</div>
	</div>
</div>
<div style="display: none;">
	<script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "https://hm.baidu.com/hm.js?41e10dae8e5d7e8cc907484abce82fb9";
	  var s = document.getElementsByTagName("script")[0];
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>
</div>

   <!-- 广告位：首页top -->
<script>
    (function() {
        var s = "_" + Math.random().toString(36).slice(2);
        document.write('<div id="' + s + '"></div>');
        (window.slotbydup=window.slotbydup || []).push({
            id: '5941958',
            container: s,
            size: '1000,90',
            display: 'inlay-fix'
        });
    })();
</script>
<style type="text/css">
    #yxj_fmt_gg{position: fixed;right: 0;bottom: 0;z-index: 9999999;width:300px; height:250px;}
    #yxj_fmt_gg span{position: absolute;z-index: 2;right: 0;top: 0;width: 66px;height: 18px;cursor: pointer; background: url(http://47.102.198.5:22222/images/closebt.png) no-repeat;}
    #yxj_fmt_gg span:hover{opacity:0.8;}
</style>
<div id="yxj_fmt_gg"><span></span>
    <script>
        (function() {
            var s = "_" + Math.random().toString(36).slice(2);
            document.write('<div id="' + s + '"></div>');
            (window.slotbydup=window.slotbydup || []).push({
                id: '5866717',
                container: s,
                size: '300,250',
                display: 'inlay-fix'
            });
        })();
    </script>
</div>
<script type="text/javascript">$("#yxj_fmt_gg span").click(function(){$("#yxj_fmt_gg").remove();});</script></body>
</html>