<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>4DGAME-官网</title>
    <meta name="Keywords" content="LOL攻略,LOL新闻,视频,激活码,礼包,lol英雄联盟专区" />
    <meta name="Description" content="《英雄联盟》专区为玩家提供最新最全的游戏新闻,游戏攻略，S9赛季最新的符文天赋加点，第一时间为大家整理LOL最新游戏活动，提供LOL周免英雄介绍，最新皮肤上线和皮肤抽奖打折消息，玩家在游戏过程中遇到的疑难困惑都可以在本专区找到最佳的解答。" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="mobile-agent" content="format=html5;url=https://m.3dmgame.com/ol/lol/news/" />
    <meta name="mobile-agent" content="format=xhtml;url=https://m.3dmgame.com/ol/lol/news/" />
    <link rel="canonical" href="https://ol.3dmgame.com/lol/news/" />
    <link rel="alternate" media="only screen and (max-width: 750px)" href="https://m.3dmgame.com/ol/lol/news/" />
    <link rel="stylesheet" type="text/css" href="http://47.102.198.5:22222/css/wy-base.css" />
    <link rel="stylesheet" type="text/css" href="http://47.102.198.5:22222/css/wy-common.css" />
    <link rel="stylesheet" href="http://47.102.198.5:22222/css/wy_area_jian_news.css" />
    <script type="text/javascript" src="http://47.102.198.5:22222/js/jq1.9.js"></script>
<script src="http://47.102.198.5:22222/js/ds.js"></script></head>
<body>
<div class="header_warp">
    <div class="header_top">
        <div class="center">
            <div class="ul_link">
                <a href="https://www.3dmgame.com" target="_blank"><i class="ico1"></i>主站</a>
                <a href="https://shop.3dmgame.com" target="_blank"><i class="ico2"></i>商城</a>
            </div>
            <div class="head_top_rt" id="my_user_top">
                <img src="http://47.102.198.5:22222/image/ioc-ren.png">
                <a href="javascript:void(0);" class="login" onclick="openlogin()">登录</a>
                <a href="javascript:void(0);" class="enroll" onclick="openregister()">注册</a>
            </div>
        </div>
    </div>
    <div class="banner">
        <img src="http://47.102.198.5:22222/image/pagBG.png">
        <div class="baidu_img_Grasp"><img src="http://47.102.198.5:22222/image/1513565838_688301.jpg"></div>
        <div class="top">
            <div class="nava">
                <ul>
                    <li class="{shoupage}"><a href="https://ol.3dmgame.com/lol/">首页</a></li>
                    <li class="shou"><a href="https://ol.3dmgame.com/lol/news/">新闻</a></li>
                    <li class="{shouraiders}"><a href="https://ol.3dmgame.com/lol/gl/">攻略</a></li>
                    <li class="{shouvideo}"><a href="https://ol.3dmgame.com/lol/v_all_1/">视频</a></li>
                                        <li class="{shouzone}"><a href="https://ol.3dmgame.com/lol/zone/">下载</a></li>
                                    </ul>
                <div class="search">
                    <form action="https://so.3dmgame.com/" method="get" target="_blank" autocomplete="off" id="bdcs">
                        <input type="text" onblur="if (this.value=='') this.value='我的世界'" value="我的世界" this.style.color="#000000" onfocus="if (this.value!='') this.value=''" name="keyword" />
                        <input type="hidden" name="subsearch" value="1" />
                        <input type="hidden" name="type" value="3" />
                        <button><i></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
   <!-- <div class="main_index main">

</div>-->
<script>
$(".header_warp .banner .top .nava .search").css({"width":1200-$(".header_warp .banner .top .nava ul").width()+"px"})
</script><div class="content">
    <div class="title">
        <div class="home"></div>
        <span>您的位置：<a href="https://ol.3dmgame.com" target="_blank">网游</a> > <i><a href="https://ol.3dmgame.com/lol/" target="_blank">英雄联盟</a></i> > 新闻 </span>
    </div>
    <div class="cent">
        <div class="centleft">
            <ol>
                                <li>
                    <a href="https://ol.3dmgame.com/lol/news/" class="bj">最新新闻</a>
                </li>
                                <li th:each="tp:${typeAll}">
                    <a th:href="@{'load?typeID=' + ${tp.getType_id()}}" th:text="${tp.getType_name()}" ></a>
                </li>
                            </ol>
                        <ul class="list " >


                                <li class="selectpost" th:each="news,newsStat:${newsAll}">
                    <a th:href="@{'/news/byid?newsID=' + ${news.getNews_id()}}" target="_blank" class="selectarcpost">
                        <div class="imgst">
                            <img th:src="${news.getNews_preview_img()}">
                        </div>
                        <div class="h3" th:text="${news.getNews_title()}"></div>
                        <p th:text="${news.getNews_brief()}"></p>
                        <div class="item">
                            <span class="time" th:text="${#dates.format(news.getNews_date(),'yyyy-MM-dd HH:mm:ss')}"><i></i></span>
                            <span class="it"><i class="in"></i><span th:text="${news.getNews_pageview()}"></span></span>
                        </div>
                    </a>
                </li>


                            </ul>
            <div class="fenye"><ul class="pagination"><li class="first disabled"><span>首页</span></li>
<li class="prev disabled"><span>&laquo;</span></li>
<li class="active"><a href="https://ol.3dmgame.com/lol/news/" data-page="0">1</a></li>
<li><a href="https://ol.3dmgame.com/lol/news_all_2/" data-page="1">2</a></li>
<li><a href="https://ol.3dmgame.com/lol/news_all_3/" data-page="2">3</a></li>
<li><a href="https://ol.3dmgame.com/lol/news_all_4/" data-page="3">4</a></li>
<li><a href="https://ol.3dmgame.com/lol/news_all_5/" data-page="4">5</a></li>
<li><a href="https://ol.3dmgame.com/lol/news_all_6/" data-page="5">6</a></li>
<li><a href="https://ol.3dmgame.com/lol/news_all_7/" data-page="6">7</a></li>
<li><a href="https://ol.3dmgame.com/lol/news_all_8/" data-page="7">8</a></li>
<li class="next"><a href="https://ol.3dmgame.com/lol/news_all_2/" data-page="1">&raquo;</a></li>
<li class="last"><a href="https://ol.3dmgame.com/lol/news_all_55/" data-page="54">末页</a></li></ul></div>

        </div>
        <div class="clear"></div>
    </div>
</div>
<script type="text/javascript" src="http://47.102.198.5:22222/js/commentlist.js"></script>
<script type="text/javascript" src="http://47.102.198.5:22222/js/conmmon.js"></script>
<div class="fotter">
	<div class="fotter-top">
		<div class="center">
            <div class="wrap">
                <p>综合内容</p>
                <ul>
                    <li><a href="http://3c.3dmgame.com/" target="_blank">游戏新闻</a></li>
                    <li><a href="https://bbs.3dmgame.com/" target="_blank">最新新闻</a></li>
                    <li><a href="https://www.3dmgame.com/bagua/" target="_blank">厂商新闻</a></li>
                    <li><a href="https://www.3dmgame.com/original.html" target="_blank">评测新闻</a></li>
                    <li><a href="https://shop.3dmgame.com" target="_blank">    </a></li>
                    <li><a href="https://www.3dmgame.com/hanhua/" target="_blank">游戏活动</a></li>
                </ul>
            </div>



        </div>
	</div>
	<div class="fotter-bottom">
		<div class="fotter-link">
			<a href="https://www.3dmgame.com/s/about.html" target="_blank">关于4DGAME</a>|<a href="https://www.3dmgame.com/s/joinus.html" target="_blank">招聘信息</a>|<a href="https://www.3dmgame.com/s/sitemap.html" target="_blank">网站地图</a>|<a href="https://www.3dmgame.com/s/contact.html" target="_blank">联系我们</a>
			<p>CopyRight©2003-2018 <a href="https://www.3dmgame.com">WWW.3DMGAME.COM</a> All Right Reserved 京ICP备14006952号-1 京网文（2016）1650-207号</p>
		</div>
	</div>
</div>
<div style="display: none;">
	<script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "https://hm.baidu.com/hm.js?41e10dae8e5d7e8cc907484abce82fb9";
	  var s = document.getElementsByTagName("script")[0];
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>
</div>
<script src="http://47.102.198.5:22222/js/user.js"></script>
        <div id="my_login_form" class="login_wrap"  style="display: none;">
            <div class="form_login">
                <div class="title">会员登录</div>
                <div class="input_wrap login_username">
                    <div class="name_ico">
                        <i></i>
                    </div>
                    <input type="text" title="用户名" name="username" id="loginname" value="" maxlength="" placeholder="请输入手机号 / 论坛账号 " />
                    <p class="Tipsbox_yes Tips_name"></p>
                </div>
                <div class="input_wrap login_password">
                    <div class="password_ico">
                        <i></i>
                    </div>
                    <input type="password" title="密码" name="passwd" id="loginpassword" value="" required="required" placeholder="请输入密码">
                    <p class="Tipsbox_yes Tips_pswd"></p>
                </div>
                <div class="Tipsbox Tips-name">
                    <i></i>
                    <p>请输入手机号或论坛账号</p>
                </div>
                <div class="Tipsbox Tips-pswd">
                    <i></i>
                    <p>请输入密码</p>
                </div>
                <div class="auto_login">
                    <div class="radiobtn">
                        <input type="checkbox" id="atloginck" value="1" checked="checked" onchange="setautologin(this)" />
                        <input type="hidden" name="autologin" id="myautologin" value="1" />
                        <span class="inpbg"></span>
                    </div>
                    <label for="atloginck">自动登录</label>
                    <a href="https://my.3dmgame.com/findpasswd" class="forget_link" target="_blank">忘记密码</a>
                    <a href="javascript:void(0);" class="registered_link" onclick="openregister()">新会员注册</a>
                </div>
                <a href="javascript:void(0);" class="submit" onclick="login_submit()">登 录</a>
                <div class="other_login">
                    <p>社交账号登录</p>
                </div>
                <div class="other_login_list">
                    <div class="weibo">
                        <i onclick="sina_login()"></i>
                    </div>
                    <div class="weixin">
                        <i onclick="wechat_login()"></i>
                    </div>
                    <div class="QQ">
                        <i onclick="qq_login()"></i>
                    </div>
                </div>
            </div>
            <div class="form_register">
                <div class="title">3DM  欢迎新人加入</div>
                <div class="infowrap">
                    <div class="input_lis">
                        <span>区号:</span>
                        <select id="areacode" name="areacode"></select>
                    </div>
                    <div class="input_lis">
                        <span>账号:</span>
                        <input value="" required="required" autocomplete="off" requiredtitle="请输入手机号" patterntitle="国内手机号为11个数字国外手机为区号-手机号!" class="mobile" type="text" name="mobile" id="mobile" placeholder="请输入手机号">
                    </div>
                    <div class="input_lis">
                        <span>密码:</span>
                        <input id="regpasswd" name="regpasswd" value="" required="required" autocomplete="off" title="别忘了密码" class="passwd" type="password" placeholder="请输入密码（6-18位字母、数字、符号）">
                    </div>
                    <div class="input_lis">
                        <span>确认密码:</span>
                        <input id="checkpasswd" name="checkpasswd" value="" required="required" autocomplete="off" title="别忘了密码" class="checkpasswd" type="password" placeholder="再次输入密码">
                    </div>
                    <div class="input_lis yzm_inp">
                        <span>验证码:</span>
                        <input id="validate" name="validate" value="" required="required" requiredtitle="输入验证码" type="text" class="yzm-c" maxlength="16" placeholder="输入验证码">
                            <div class="time " id="validate_btn" onclick="get_regsms()">获取验证码</div>
                    </div>
                    <div class="tips">
                        收不到验证码？<span class="feedback" onclick="show_feedback()">去反馈</span>
                    </div>
                    <div class="submit_wrap">
                        <span class="submit" onclick="reg_submit()">注 册</span>
                    </div>
                    <div class="rule_wrap">
                        <input id="rule" name="rule" type="checkbox" checked="checked" value="">
                        <div class="btn_ico2"></div>
                        <label for="rule">我已同意</label><a href="https://my.3dmgame.com/agreement" target="_blank">《3DM账号协议》</a>
                        <div class="tips_login">已有账号？<a id="login2" href="javascript:void(0);" onclick="openlogin()">去登录</a></div>
                    </div>
                </div>
            </div>
        </div><!-- 广告位：首页top -->
<script>
    (function() {
        var s = "_" + Math.random().toString(36).slice(2);
        document.write('<div id="' + s + '"></div>');
        (window.slotbydup=window.slotbydup || []).push({
            id: '5941958',
            container: s,
            size: '1000,90',
            display: 'inlay-fix'
        });
    })();
</script>
</body>
</html>