<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cxk.dao.DownLoadDao">

    <select id="getAll" resultType="com.cxk.dao.DownLoadDao">
        /*SELECT gametype_id id, gametype_name name FROM gm_gametype*/
        SELECT * from gm_download
    </select>

</mapper>